.input:focus{
    outline: none;
    border:#99ff solid 2px;
}
.superInput {
    margin: 10px;
    background-color: aqua;

}

.errorInput {
    margin: 10px;

    background-color: aqua;
    color: darkgrey;

    border: 3px solid red;

}

.error {
    color: red;
    height: 21px;
    margin-left: 10px;
}